
  hr{
    background-color:#E4EFE7;
    border-color :  green;
    border-style:none;
    border-top-style:dotted;
    height:0;
    border-width:5px;
    width:25%;
  }
  img{
    height:200px;
    border-radius:40%;
  }
  h1{
  text-align: center;
  color:#1768AC;
  }
  h2{
    color: #1768AC;

  }
.new{
  color: black;
}
.td{
  color:#1768AC;
  font-size: 30px;
}
.td2{
  color: #1768AC;
  font-size: 30px;

}
